@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    overflow-x: hidden;
  }

  ::selection {
    background-color: #000;
    color: #fff;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #d4d4d4;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #a3a3a3;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
